body {
  padding: 0;
  margin: 0;
  font-family: "Poiret One", serif;
  font-weight: 600;
  display: flex;
  flex-direction: column; /* Arrange header and main-container vertically */
  height: 100vh;
  box-sizing: border-box;
}

header {
  text-align: center;
  font-size: 70px;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%; /* Ensure header spans the width */
  padding: 10px;
}

#main-container {
  font-size: 55px;
  display: flex; /* Flexbox for positioning content */
  flex-direction: column; /* Arrange children vertically */
  height: 100%; /* Full height of the remaining space */
  position: relative;
  overflow: hidden;
}

#weather-animation {
  /* Allow this section to take up the remaining space between header and weather conditions */
  display: flex;
  padding: 95px;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  color: red;
}

#WeatherConditions {
  text-align: left; /* Align text inside the container */
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
  padding: 20px; /* Adds spacing around the text */
  border-radius: 8px; /* Rounded corners */
  width: 100%;
  height: 200px;
  position: absolute; /* Position relative to the parent (#main-container) */
  bottom: 0; /* Stick to the bottom */
  display: flex;
  justify-content: center; /* Center content vertically */
  align-items: left;
}

.clear {
  background-image: url("pictures/clear.jpeg");
}

.rain {
  background-image: url("pictures/rain.jpg");
}

.snow {
  background-image: url("pictures/snow.jpg");
}

.fog {
  background-image: url("pictures/fog.jpg");
}

.thunderstorm {
  background-image: url("pictures/thunder.jpg");
}
#raindrops {
  position: relative;
  width: 100%;
  height: 100%;
}
